
@{
    ViewBag.Title = "New";
}

<h2>Create New Location:</h2>
<form action="/location/create" method="post">
    <div>
        <label>Name:</label> <input type="text" name="LocationName" />
    </div>
    <div>
        <label>Phone:</label> <input type="text" name="LocationPhone" />
    </div>
    <div>
        <label>Email:</label> <input type="text" name="LocationEmail" />
    </div>
    <div>
        <label>Address:</label> <input type="text" name="LocationAddress" />
    </div>
    <div>
        <input type="submit" value="Add Service" />
    </div>
</form>

